/JTreport/
/JTwork/
/classes/
/docs/javadocs/
/docs/ug/src/main/jbake/content/toc.adoc
/mail-tck-*.zip
/tests/mailboxes/fpopulate.class
/version
.classpath
.project
.settings/

target/
published/
jakarta.mail.jar
jakarta.activation.jar
/bin/
*.bkp
